﻿@model List<MvcLProject.Models.Product>
@{
    ViewBag.Title = "فهرست";
}

<h2 style="font-family:'B Koodak'">لیست محصولات</h2>
<br />
@Html.ActionLink("اضافه کردن محصول جدید", "Create", "Product", new { name = "" }, new { @class="btn btn-primary"})
<br /><br />
<table class="table">
    <tr>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().CategoryId)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().CompanyId)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().ModelName)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(x => x.FirstOrDefault().Description)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr class=" @item.Id">
        <td style="text-align:center;">
            @item.Category.Name
        </td>
        <td style="text-align:center;">
            @item.Company.PersianName
        </td>
        <td style="text-align:center;">
            @item.ModelName
        </td>
        <td style="text-align:center;">
            @item.Description
        </td>
        <td>
            @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
            @Html.ActionLink("حذف", "Delete", new { id = item.Id }, new { onclick="return confirm('آیا از حذف این محصول مطمئن هستید؟')",@class = "btn btn-danger" })

        </td>
    </tr>
    }
</table>
